{mode, max}.
{duration, 1}.
{concurrent, 30}. %
{driver, basho_bench_gestalt_tab2file_save}.
{operations, [{put,1}]}.
{key_generator, {partitioned_sequential_int, 3000000}}.
{value_generator, {uniform_bin, 100, 500}}.
{value_generator_blob_file,
	"/Users/mallen/github/basho_bench/examples/AroundTheWorldIn80Days.txt"}.
{gestalt_tab_name, basho_bench_gestalt}.
